/************************** 
VARIABLES
**************************/
* {
    --color__dark: rgba(51, 51, 51, 1);
    --color__blue: rgba(38, 97, 230, 1);
    --color__green:rgba(102, 204, 51, 1);
    --color__red: rgba(204, 51, 51, 1);
    /* --reset__color: ; */
}

/************************** 
GLOBAL STYLES
**************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #373737;
}

/************************** 
HEADER STYLES
**************************/
.container__header {
    padding-bottom: 0.4rem;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}
.header__logo {}
.header__logo--main {
    text-decoration: none;
    color: #373737;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem 0;
    transition: all 100ms;
}
.header__logo--main:hover,
.header__logo--main:active {
    color: #000;
}

.header__nav--list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}
.header__nav--item {
    list-style: none;
    margin-bottom: 0;
    padding: 1rem 3rem;
}
.header__nav--link {
    text-decoration: none;
    color: #373737;
}

.header__nav--link:hover,
.header__nav--link:active {
    color: #000;
}


/************************** 
TIMER STYLES
**************************/
.timer {
    margin: 0 0 2rem;
}

/* TIMER LINK STYLES */
.timer__link {
    text-decoration: none;
    color: var(--color__blue);
    background-color: #fff;
    padding: 1.2rem 7rem;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 20px;
    transition: all 100ms;
}
.timer__link:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    color: var(--color__blue);
}
.timer__link:active {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    /* color: #fff; */
    /* background-color: #373737; */
}
.timer__link.active {
    background-color: var(--color__blue);
    color: #fff;
}

/* TIMER HEADER */
.timer__header {
    text-align: center;
}
.timer__header--title {
    font-weight: 600;
    font-size: 4.4rem;
    margin-bottom: 0;
    /* margin-bottom: 2.4rem; */
    /* font-family: "Merriweather", serif; */
    font-family: "Roboto Slab", serif;
    font-family: "Lora", serif;
}
.timer__header--title-link {
    color: var(--color__dark);
    text-decoration: none;
    transition: all 200ms;
}
.timer__header--title-link:hover {
    color: #000;
}
.timer__header--divider {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    transform: skewX(-25deg) scaleY(0.8);
    display: inline-block;
    font-weight: 900;
    color: var(--color__blue);
    /* display: none; */
}
.timer__header--subtitle {
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    /* display: none; */
}

/* TIMER NAV */
.timer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4rem;
}
.timer__nav--list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
.timer__nav--item {
    list-style: none;
    display: inline-block;
}
.timer__nav--link {
    border-radius: 2px;
}

/* TIMER CLOCK */
.container__timer--wrapper {
    background-color: #fafafa;
    padding: 4.8rem 0 2rem;
    flex: 1;
    /* display: none; */
}
.timer__clock {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3.4rem;
    flex-direction: column;
    align-items: center;
}
.timer__time {
    font-size: 10rem;
    font-weight: 900;
    color: #373737;
}
.timer__end-time {
    color: #999999;
}

/* TIMER CONTROLS */
.timer__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.timer__controls--list {
    display: flex;
}
.timer__controls--item {
    list-style: none;
    display: inline-block;
}
.timer__controls--link {
    margin: 0 1rem;
}
#start {
    background-color: var(--color__green);
    color: #fff;

}
#stop {
    background-color: var(--color__red);
    color: #fff;
}
#reset {
    color: #000;
}

/************************** 
INFO STYLES
**************************/
.info {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-gap: 2rem;
}
.info__item {
    padding: 2.4rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 3px;
}
.info__header {
    margin-bottom: 1.2rem;
}
/* INFO KEYBOARD SHORTCUTS */
.info__key {}
.info__key--header {}
.info__key--list {}
.info__key--item {}

/* INFO NOTIFICATIONS */
.info__notifications {}
.info__notifications--header {}
.info__notifications--content {}
.info__notifications--btn {
    text-decoration: none;
    color: var(--color__blue);
    padding: .8rem 1.4rem;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 3px;
    transition: all 100ms;
}

.info__notifications--btn:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    color: #373737;
}
.info__notifications--btn:active {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    /* color: #fff;
    background-color: #373737; */
}

/* INFO SETTINGS */
.info__settings {}
.info__settings--header {}
.info__settings--content {}

@media only screen and (max-width: 909px) {
    .timer__link {
        padding: 1.2rem 5rem;
    }
}

@media only screen and (max-width: 848px) {
    .timer__nav--link {
        padding: 1.2rem 4rem;
        margin: 0;
    }

    .info {
        display: grid;
        grid-template-rows: repeat(3, minmax(15rem, 1fr));
        grid-template-columns: auto;
        grid-gap: 2rem;
    }
}

@media only screen and (max-width: 699px) {

    .timer__link {
        display: inline-block;
        text-align: center;
        font-size: 1.4rem;
        width: 100%;
        padding: 0.8rem 0;

    }
    .timer__nav--list {
        width: 100%;
    }
    .timer__nav--item {
        list-style: none;
        display: inline-block;
        width: 100%;
        margin-bottom: 0.3rem;
        margin: .1rem;
    }
    .timer__controls--list {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .timer__controls--item {
        width: 100%;
    }
    .timer__controls--link {
        width: 100%;
        display: inline-block;
        padding: 1rem 0;
        text-align: center;
        margin: 0;
    }
}

@media only screen and (max-width: 475px) {
    .header {
        height: 6.6rem;
    }
    .container__header {
        padding-bottom: .6rem;
    }
    .container__timer--wrapper {
        padding: 2.2rem 0 2rem;
    }

    .header__nav--item {
        padding: 0;
    }

    .header__nav--link {
        text-decoration: none;
        color: #373737;
        padding: 1rem 1.2rem;
    }

    .timer__header--title {
        font-size: 3.2rem;
    }
    .timer__header--divider {
        display: none;
    }
    .timer__header--subtitle {
        margin-top: 0.3rem;
        margin-bottom: 1.1rem;
    }

    .timer__link {
        margin: 0;
        display: inline-block;
        text-align: center;
        font-size: 1.4rem;
        width: 100%;
        padding: 1.2rem 0;
    }
    .timer__nav--list {
        width: 100%;
    }
    .timer__nav--item {
        list-style: none;
        display: inline-block;
        width: 100%;
        margin-bottom: 0.3rem;
    }

    .timer__clock {
        margin: 0;
    }
    .timer__time {
        font-size: 9rem;
        font-weight: 700;
        color: #373737;
        margin-bottom: -1rem;
        margin-top: -1rem;
    }

    .timer__controls--list {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .timer__controls--item {
        width: 100%;
        margin-bottom: 0.2rem;
    }

    .info__key {
        display: none;
    }
    .info__notifications {
        display: none;
    }

}


/************************** 
SETTINGS MODAL STYLES
**************************/
.container__settings {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    display: none;
}
.settings__wrapper {
    background-color: #efefef;
    padding: 4rem 5rem;
    position: relative;
    top: 50%;
    width: 38rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.settings__header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings__header {
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 0;
    /* color: var(--color__blue); */
}
.settings__btn-close--wrapper {
    display: flex;
    align-items: flex-start;
}
.settings__close--btn {
    text-decoration: none;
    color: #373737;
    font-size: 4rem;
    transition: all 150ms;
    display: inline-block;
    margin: 0;
    padding: 1rem;
    position: relative;
    top: -3.8rem;
    right: -2rem;
}

.settings__close--btn:hover {
    color: #000;
    transform: scale(1.1);
    backface-visibility: hidden;
}
.settings__form {}
.settings__subheader {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.settings__label {
    font-size: 1.4rem;
    /* line-height: 1.6; */
    font-weight: 400;
    margin-bottom: 0;
}
.settings__notifications--wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.settings__notifications {
    margin-left: 1rem;
}
.settings__input--checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.settings__sound {
    height: initial;
    font-size: 1.2rem;
    width: 30rem;
    margin-bottom: 3rem;
    padding: 0;
}
.settings__sound option {
    padding: 0.7rem;
}
.settings__volume__slider-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.settings__volume--slider {}
.settings__volume--label {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.settings__volume {
    margin-bottom: 0;
    width: 23rem;
    margin: 0 1rem;
}
.settings__custom--times-wrapper {
    display: flex;
    margin-bottom: 3rem;
}
.settings__custom--times {
    margin-right: 1rem;
}
.settings__input--number {
    width: 11rem;
    margin-bottom: 0;
    font-size: 1.2rem;
}
.settings__buttons {}
.settings__button {
    text-decoration: none;
    text-transform: initial;
    background-color: var(--color__blue);
    color: #fff;
    margin-right: 1rem;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 20px;
    transition: all 100ms;
}

.settings__button:hover {
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.settings__button:active {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.settings__button:focus {
    border: 1px solid transparent;
}
#settings__button--submit:hover {
    color: #fff;
}
#settings__button--submit:focus {
    color: #fff;
}
#settings__button--reset,
#settings__button--sound-test {
    color: var(--color__dark);
    background-color: #fff;
}

.settings__buttons--saved-message {
    font-size: 1.4rem;
    color: #373737;
    opacity: 0;
    transition: all 300ms;
    
}
.settings__buttons--saved-message.active {
    opacity: 1;
}

@media only screen and (max-width: 560px) {
    .settings__wrapper {
        box-sizing: border-box;
        width: 90vw;
        padding: 1rem 2rem;
        position: absolute;
        top: -1px;
        left: 0;
        bottom: 0;
        transform: translate(0,0);
    }
    .settings__header--wrapper {
        position: relative;
        top: -1.6rem;
    }
    .settings__header {
        font-size: 2.4rem;
    }
    .settings__close--btn {
        right: -1rem;
        top: initial;
    }
    .settings__notifications--wrapper {
        margin-bottom: 1rem;
    }
    .settings__subheader {
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }
    .settings__sound {
        height: 3rem;
        font-size: 1.2rem;
        width: 24rem;
        margin-bottom: 1rem;
    }
    .settings__volume {
        width: 18rem;
    }
    .settings__volume__slider-wrapper {
        margin-bottom: 1rem;
    }
    .settings__custom--times-wrapper {
        display: flex;
        margin-bottom: 3rem;
    }
    .settings__input--number {
        width: 7.4rem;
    }
}

/************************** 
FAQ STYLES
**************************/

.container__faq--wrapper {
    display: none;
}
.container__faq {
    max-width: 60rem;
    margin-bottom: 20rem;
}
.faq__header {
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 0;
    margin-top: 1rem;
    font-family: "Lora", serif;
}
.faq__subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.faq__content {}
.faq__content--end {
    margin-bottom: 4rem;
}
.faq__list {}
.faq__list--item {}
